:root {

    --primary: #A1DCB0;
  --akzentColor: #333333;
    --secondary: #D5F29D;
    --light-text: #b3bcc0;
    --medium-text: #5f707a;
    --heavy-text: #333333;
    --nav-title: #F8F9FB;
    --medium-background: #F3F3FB;
    --light-background: #F8F9FB;
    --surface: #f8fafb;
    --surface-colored: #f3fbff;
    --surface-selected: #e8f7ff;
    --warning: #ff8080;
    --warning-lightened: #ff4d4d;
    --gradient: linear-gradient(100deg, rgba(161,220,176,1) 0%, rgba(188,231,166,1) 51%, rgba(213,242,157,1) 100%);
    --nav-text-shadow: 0px 4px 4px hsl(0deg 0% 0% / 21%);
    --box-shadow: 5px 5px 8px 0px hsla(0, 0%, 0%, 0.21) ;

}
