
:host{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap:1rem;
justify-content: center;
}

mat-card {
  text-align: center;
  border-radius: 0.5rem;
  //box-shadow: var(--box-shadow);
  cursor: pointer;
  height: 32rem;

}


img {
  height: 100%;
  max-width: 100%;
}

.card-top {

}

.rating-area {
  display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        fa-icon{
          color: goldenrod !important;
          font-size: 1.5rem;
        }
}

.card-bottom .card-top {
  display: flex;
  padding-top: 8px;
  justify-content: center;

}

.card-bottom {
  width: 100% !important;
}


//mat-card height 20rem bei 500px
//mat-card height 25rem bei 1000px

@media screen and (max-width: 1500px) {
  mat-card {
    height: 30rem ;

  }
}

@media screen and (max-width: 1000px) {
  mat-card {
    height: 25rem ;

  }
}



@media screen and (max-width: 530px) {


  mat-card {
    height: 20rem ;

  }

  mat-card-title {
    font-size: 1rem;
  }

  .rating-area > fa-icon{
    color: goldenrod !important;
    font-size: 1rem;
  }
}


