<form [formGroup]="formGroup" matTooltip="Lebensmittel hinzufügen"> 
  <div class="ingredient-inner">
    <input formControlName="name" class="kindInput" matInput placeholder="Zutat" value="">
    <input formControlName="amount" class="amountInput" matInput placeholder="Anzahl" value="">
    <mat-select formControlName="unit"  matTooltip="Einheit" [(value)]="selected" hideSingleSelectionIndicator="true" placeholder="Einheit">
      <mat-option *ngFor="let unit of units" [value]="unit.id">{{ unit.id }}</mat-option>
    </mat-select>
  </div>
  <button mat-icon-button (click)="addIngredient()">
    <mat-icon id="add-icon" >add</mat-icon>
  </button>

</form>
