

  <mat-card class="card">

      <img mat-card-image [src]="recipe.img" alt="Project photo">

    <mat-card-title>{{recipe.title}}</mat-card-title>
<!--    <app-custom-tag [tags]="recipe.categories"></app-custom-tag>-->
    <div class="recipe-infos">
      <div id="time" class="infos">
        <mat-icon>timer</mat-icon>
        {{recipe.cookTime}} min
      </div>
      <div id="level" class="infos">
        <mat-icon>local_fire_department</mat-icon>
        {{recipe.calories}} kcal
      </div>
      <div id="calorie" class="infos">
        <mat-icon *ngIf="recipe.level === 'einfach'">circle</mat-icon>
        <mat-icon *ngIf="recipe.level === 'normal'">star_half</mat-icon>
        <mat-icon *ngIf="recipe.level === 'schwer'">star</mat-icon>
        {{recipe.level}}
      </div>
    </div>

  </mat-card>
