

  <mat-card class="card">
<!--    <mat-card-header>-->
<!--      <mat-card-title>{{recipe.title}}</mat-card-title>-->
<!--    </mat-card-header>-->

    <img mat-card-image [src]="recipe.img" alt="Project photo">

    <div class="recipe-infos">
      <div id="time" class="infos">
        <mat-icon>timer</mat-icon>
        {{recipe.cookTime}} min
      </div>
      <div id="level" class="infos">
        <mat-icon>local_fire_department</mat-icon>
        {{recipe.calories}} kcal
      </div>
      <div id="calorie" class="infos">
        <mat-icon>star_half</mat-icon>
        {{recipe.level}}
      </div>
    </div>

  </mat-card>
