
:host {
  height: 100%;
}
.card {
  background-color:whitesmoke;
  height: 100%;
  cursor: pointer;

  mat-card-title{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 0rem;
  }

  .recipe-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .infos {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;

      mat-icon {
        color: bisque !important;
      }
      fa-icon {
        color: bisque !important;

      }
    }
  }

  img {
    object-fit: cover;
    height: 174px;
    width: 100%;
  }
}





