
:host {
  height: 100%;
  display: flex;
  justify-content: center;
}



.card {
  background-color:whitesmoke;
  height: 100%;

  .recipe-infos {
    display: flex;
    .infos {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;

      mat-icon {
        color: bisque !important;
      }
      fa-icon {
        color: bisque !important;

      }
    }
  }
  img {
    max-height: 25rem;
    height: 100%;
    max-width: 100%;
    min-width: 25rem;
    object-fit: cover;

  }
}





