.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.mat-icon {
  color: black !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0 !important;
}


.mdc-dialog__actions {
  justify-content: space-between;
}

