
.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem 1rem !important;
}



.header-container {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  h1 {
    margin: 0 !important;
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }
}

.mat-icon {
  color: black !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0 !important;
}


.mdc-dialog__actions {
  justify-content: space-between;
}

