  <h1 mat-dialog-title>Einkaufsliste</h1>
  <div mat-dialog-content>
    <app-ingredient-list-item></app-ingredient-list-item>
    <app-ingredient-list-item></app-ingredient-list-item>
    <app-ingredient-list-item></app-ingredient-list-item>
    <app-ingredient-list-item></app-ingredient-list-item>
    <app-ingredient-list-item></app-ingredient-list-item>
    <app-ingredient-list-item></app-ingredient-list-item>

  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close><mat-icon>close</mat-icon></button>
    <button mat-stroked-button mat-dialog-close  (click)="printRecipe()">
      <mat-icon>print</mat-icon>
    </button>
  </div>

