
<div class="ingredient-inner">
  <input class="kindInput" matInput placeholder="Zutat..." value="Sushi">
  <input class="amountInput" matInput placeholder="Anzahl..." value="2">
  <mat-select  matTooltip="Einheit" [(value)]="selected" hideSingleSelectionIndicator="true">
      <mat-option value="option1">kg</mat-option>
      <mat-option value="option2">g</mat-option>
      <mat-option value="option3">ml</mat-option>
  </mat-select>
</div>
<button mat-icon-button>
  <mat-icon id="delete-icon">delete</mat-icon>
</button>
