.spine_title {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;
  color: white !important;
}

.spine-container{
  background-color: green;
  height: 100%;
  justify-content: center;
  display: flex;

}
