
<mat-selection-list #shoes>
  <mat-list-option  *ngFor="let ingredient of ingredients" [selected]="ingredient.selected"  [value]="ingredient">
    <ng-template *ngIf="ingredient.unit?.name === 'Stück'; else plural">
      {{ingredient.singleName}}
      <span>{{ingredient.amount}}</span>
    </ng-template>
    <ng-template #plural>
      {{ingredient.pluralName}}
      <span>{{ingredient.amount}} {{ingredient?.unit?.name}}</span>
    </ng-template>
  </mat-list-option>
</mat-selection-list>

<button mat-stroked-button (click)="onSelectionChange(shoes)">Zur Einkaufsliste hinzufügen</button>
