<header>
  <a mat-button routerLink="library" routerLinkActive="active">Libary</a>
  <a mat-button routerLink="pandashelf"  routerLinkActive="active">Panda's Shelf</a>
</header>
<div class="content">
  <router-outlet *ngIf="'active'"></router-outlet>
</div>

<div class="books_content" *ngIf="!(router.url.includes('/books/'))">
</div>
<footer>
  <div class="footer-list">
    <div class="footer_item" id="left">
      Panda
    </div>
    <div class="footer_item" id="middle">
      bärchen
    </div>
    <div class="footer_item" id="right">
      <mat-icon>grass</mat-icon>
    </div>
  </div>
</footer>
