<div class="inner">
  <app-picture-card title="Boop" img="./assets/img/games/boardGames/boopGame.png">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Read More</button>
    </mat-card-actions>
  </app-picture-card>

  <app-picture-card title="Happy Little Dinosaurs" img="./assets/img/games/boardGames/happy_little_dino.jpeg">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Read More</button>
    </mat-card-actions>
  </app-picture-card>

  <app-picture-card title="Dorfromatik" img="./assets/img/games/boardGames/Dorfromantik.jpg">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Read More</button>
    </mat-card-actions>
  </app-picture-card>
</div>
