:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: calc(100vh - 188px);
}

.projects {
  overflow-y: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  padding: 30px 50px;
}

mat-card-actions {
  justify-content: space-between;
}

mat-card-content {
  padding-top: 8px;
}

button, a {
  color: black !important;
}


@media screen and (max-width: 600px) {

  .projects {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    padding: 10px 20px;

  }
}
