:host{
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  min-height: calc(100vh - 220px);
  margin: 1rem 8rem;
}

.header-section{

  display: flex;
  height: fit-content;
  justify-content: space-between;

  .img-container {
    img {
      height: 7.5rem;
      border-radius: 0.5rem;
      max-width: 100%;
    }
  }
  .title-container {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    align-items: center;
  }
  .carbs-container {
    display: flex;
    height: fit-content;
    align-self: center;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid black;

    p {
      margin: 0rem !important;
    }
  }

}

.content {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  .ingredients {
    display: flex;
    gap: 1rem;
    mat-card{
      display: flex;
      flex-direction: column;
      width: 100%;
      .ingredient-list {
      }
    }
  }

  .description {

    .mat-mdc-card-header{
      display: flex;
      justify-content: space-between;
      padding: 8px 8px 16px;

    }

    .cooking-plan {
      gap: 1rem;
    }
  }
}



mat-card {
  background-color: var(--light-background);
  padding: 1rem;

}

mat-icon {
  color: black !important;
  font-size: 1rem;
}

fa-icon {
  color: black !important;
}

.title {
  font-size: 1rem;
}

.action {
  display: flex;
    align-items: center;
    gap: 0.5rem;
}
