<div class="header-section">
  <div class="title-container">
    <div class="img-container">
      <img src="./assets/img/recipes/pizza.jpg">
    </div>
    <div class="title">
      <span>Recipe Title</span>
    </div>
  </div>
  <div class="carbs-container">
    <p>min: 50</p>
    <p>|</p>
    <p>kcal: 300</p>
  </div>
</div>

<div class="content">
  <div class="infos">

  </div>
  <div class="ingredients">
    <mat-card>
      <div mat-subheader>Ingredients</div>
      <div class="ingredient-list">
        <div>
          <app-info-paar *ngFor="let ingredient of ingredients" [title]="ingredient.name" [info]="ingredient.count"></app-info-paar>

        </div>
        <div>
          <app-info-paar *ngFor="let ingredient of ingredients" [title]="ingredient.name" [info]="ingredient.count"></app-info-paar>

        </div>
      </div>
    </mat-card>  
  </div>
  <div class="description">
    <!-- <mat-card>
      <mat-list>
        <mat-list-item *ngFor="let ingredient of ingredients">
          <div matListItemTitle>{{ingredient.name}}</div>
        </mat-list-item>     
      </mat-list>
      <mat-list>
        <mat-list-item *ngFor="let ingredient of ingredients">
          <div matListItemTitle>{{ingredient.count}}</div>
        </mat-list-item>     
      </mat-list>
    </mat-card> -->
    <mat-expansion-panel hideToggle expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Description
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ingredient-list">
        <mat-list>
          <mat-list-item *ngFor="let ingredient of ingredients">
            <div matListItemTitle>{{ingredient.name}}</div>
          </mat-list-item>     
        </mat-list>
        <mat-list>
          <mat-list-item *ngFor="let ingredient of ingredients">
            <div matListItemTitle>{{ingredient.count}}</div>
          </mat-list-item>     
        </mat-list>
      </div>
    </mat-expansion-panel>
  </div>
</div>
