:host{
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  gap: 2.5rem;
  min-height: calc(100vh - 220px);
  margin: 0 auto;
  padding: 3rem 0 1rem;
  max-width: 1140px;
}
.header-section{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 2rem;
  height: 100%;
  figure {
    height: 400px;
    margin: 0;
      img {
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
        width: 100%;
      }
  }
  .recipe-infos {
    display: grid;

    grid-template-rows: auto auto 1fr;
    gap: 1rem;
    .title {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 2rem;
        font-weight: bold;
      }
      .tags {
        padding: 0.5rem;
        padding-left: 0 !important;
      }
    }
    .infosArea {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 0.5rem;
      padding-left: 0 !important;
      .infos {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0.5rem;
        padding: 0.5rem;
        padding-left: 0 !important;
      }
      mat-icon {
        text-align: center;
      }
    }
  }
}

.infoTitle {
  font-weight: bold;
}

.container {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  .rating-area {
    display: flex;
    align-items: center;
    width: 100%;
    mat-icon{
      font-size: 1.5rem;
      color: var(--rating-fade) !important;
    }

    mat-icon.rated {
      color: var(--rating) !important;
    }
  }
  .print {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.content {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 2.5rem;

  .portionSizeContainer{
    border: 1px solid rgba(0, 0, 0, 0.12) ;
    border-radius: 0.2rem;
    align-items: center;
    text-align: center;
    gap: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    .mdc-button {
      display: flex;
      justify-content: center;
      border-color: transparent;
    }
  }
  .nutritionsArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
h2 {
  font-weight: bold;
}

button {
  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0 !important;
  }
}

mat-card {
  background-color: var(--light-background);
  padding: 1rem;

}

mat-icon {
  color: black !important;
  font-size: 1rem;
}

.title {
  font-size: 1rem;
}

.action {
  display: flex;
    align-items: center;
    gap: 0.5rem;
}

.content:last-child {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {

  :host {
    grid-template-rows: none;
    overflow-x: auto;
    max-width: 768px;
    margin: 0 auto;

    padding: 1rem;


  }

  .header-section{
    display: flex ;
    flex-direction: column;
    gap: 2.5rem;

  }



    .nutritionsArea {
      width: fit-content;
      }


  .content {
    display: flex;
    flex-direction: column;
  }


}
