<div class="header-section">
  <div class="recipe-infos">
    <div class="title">
      <h1>{{recipe.title}}</h1>
      <div class="print">
        <button mat-stroked-button>
          <mat-icon>print</mat-icon>
        </button>
        <button mat-stroked-button>
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>
    <div class="infosArea">
      <div id="time" class="infos">
        <span class="infoTitle">Gesamtzeit</span>
        <span>{{recipe.cookTime}} min</span>
      </div>
      <div id="level" class="infos">
        <span class="infoTitle">Kalorien pro Portion</span>
        <span>{{recipe.calories}} kcal</span>
      </div>
      <div id="calorie" class="infos">
        <span class="infoTitle">Schwierigkeit</span>
        <span>{{recipe.level}}</span>
      </div>
    </div>
    <div class="nutritionsArea">
      <h2>Nährwerte pro Portion</h2>

      <app-nutrition [nutritions]="recipe.nutritions"></app-nutrition>
    </div>
  </div>
  <figure>
      <img src="./assets/img/recipes/pizza.jpg">
  </figure>

</div>
<div class="content">
  <div class="ingredientsArea">
    <h2>Zutaten</h2>
    <div class="portionSizeContainer">
      <button mat-stroked-button> <mat-icon>add</mat-icon></button>
      <span *ngIf="recipe.portionSize > 1">{{recipe.portionSize}} Portionen</span>
      <span *ngIf="recipe.portionSize === 1">{{recipe.portionSize}} Portion</span>
      <button mat-stroked-button> <mat-icon>remove</mat-icon></button>
    </div>
    <app-ingredient (ingredientsAddToList)="updateList($event)" [ingredients]="recipe.ingredients"></app-ingredient>
  </div>
  <div class="descriptionArea">

  </div>
</div>

