<div class="header-section">
  <div class="recipe-infos">
    <div class="title">
      <span>Recipe Title</span>
      <div class="print">
        <button mat-stroked-button>
          <mat-icon>print</mat-icon>
        </button>
        <button mat-stroked-button>
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>
    <div class="infos">
      <div id="time" class="infos">
        <mat-icon>timer</mat-icon>
        {{recipe.cookTime}} min
      </div>
      <div id="level" class="infos">
        <mat-icon>local_fire_department</mat-icon>
        {{recipe.calories}} kcal
      </div>
      <div id="calorie" class="infos">
        <mat-icon>star_half</mat-icon>
        {{recipe.level}}
      </div>
    </div>
    <div class="nutritionsArea">
        <app-nutrition [nutritions]="recipe.nutritions"></app-nutrition>
    </div>
  </div>
  <figure>
      <img src="./assets/img/recipes/pizza.jpg">
  </figure>

</div>
<div class="content">
  <div class="ingredientsArea">
    <div class="portionSizeContainer">
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      {{recipe.portionSize}}
      <button mat-icon-button>
        <mat-icon>remove</mat-icon>
      </button>
    </div>
    <app-ingredient (ingredientsAddToList)="updateList($event)" [ingredients]="recipe.ingredients"></app-ingredient>
  </div>
</div>

