<div class="step-wrapper">
  <div class="stepTitle">Schritt {{step.step}}</div>

  <div class="utils-wrapper" *ngIf="step.utils">
    <div class="title">Hilfsmittel</div>
    <ul class="utils-list">
      <li *ngFor="let util of step.utils; let i = index">
        <span class="dot" *ngIf="i > 0">•</span>
        <span>{{util.name}}</span>
      </li>
    </ul>
  </div>

  <div class="ingredients-wrapper">
    <div class="title">Zutaten</div>
    <ul class="ingriedents-list">
      <li *ngFor="let ingredient of step.ingredients; let i = index">
        <span class="dot" *ngIf="i > 0">•</span>
        <ng-template *ngIf="ingredient.unit?.name === 'Stück'; else plural">
          <span>{{ingredient.amount}} {{ingredient.unit?.id}}</span>
          {{ingredient.singleName}}
        </ng-template>
        <ng-template #plural>
          <span>{{ingredient.amount}} {{ingredient.unit?.id}}</span>
          {{ingredient.pluralName}}
        </ng-template>
      </li>
    </ul>
  </div>


  <p>{{step.content}}</p>

</div>
