
<div class="container">
  <div class="header">
    <div class="title">{{project.title}}</div>
    <div class="subTitle">{{project.shortDescription}}</div>
    <hr>
  </div>
  <div class="content">
    {{project.longDescription}}
  </div>
  <div class="content">
    {{project.longDescription}}
  </div>
  <div class="content-img">
    <img src="./assets/img/projects/webdesign_dummy2.jpg">
    <img src="./assets/img/projects/webdesign_dummy2.jpg">
  
  </div>
  <div class="content">
    {{project.longDescription}}
  </div>
  <div class="content">
    {{project.longDescription}}
  </div>
  <div class="content-img">
    <img src="./assets/img/projects/webdesign_dummy2.jpg">
  </div>
  
</div>

