:host {
  margin-top: 56px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

}


.content {
  margin: 2rem 1rem;
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  gap: 1rem;

  .img-container {
    border: 1px solid var(--primary);
    border-radius: 38px;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    height: 10rem;
    background: #ffffff; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, white 50%, var(--primary) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

    .icon-container {
      background: var(--primary); /* default color */

      /* "to left" / "to right" - affects initial color */
      background: linear-gradient(to left, var(--primary) 50%, white 50%) right;
      background-size: 200%;
      transition: .3s ease-out;
      height: 100%;
      border-radius: 37px;

      display: flex;
      align-items: center;
      justify-content: center;

      fa-icon {
        font-size: 3rem;
      }
    }

    //img {
    //  height: 10rem;
    //  width: 100%;
    //  border-radius: 37px;
    //}

    .home_text {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      p:first-child {
        margin-top: 12px;
      }

      fa-icon{
        color: #676767 !important;
      }
    }
  }

  .img-container:hover {

    cursor: pointer;
    background-position: left;
    .icon-container {
      background-position: left;

    }

    .show {
       display: flex;
      color: var(--primary) !important;
     }

    .hide {
      display: none;
    }
  }

  .show {
    display: none;
  }

  .hide {
    display: flex;
  }
}

