:host {
  margin-top: 56px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.content {
  margin: 2rem 1rem;
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 1rem;

  .img-container {
    border: 1px solid var(--primary);
    border-radius: 38px;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    height: 10rem;

    .icon-container {
      background-color:  var(--primary) !important;
      height: 100%;
      border-radius: 36px;
      display: flex;
      align-items: center;
      justify-content: center;

      fa-icon {
        font-size: 3rem;
      }
    }

    //img {
    //  height: 10rem;
    //  width: 100%;
    //  border-radius: 37px;
    //}

    .home_text {
      margin-right: 2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      p:first-child {
        margin-top: 12px;
      }
    }
  }

  .img-container:hover {
    cursor: pointer;

    .icon-container {
      background-color: transparent !important;
    }

    .show {
       display: flex;
      color: var(--primary) !important;
     }

    .hide {
      display: none;
    }
  }

  .show {
    display: none;
  }

  .hide {
    display: flex;
  }
}

