:host {
  margin-top: 56px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

}

.mat-mdc-button{
  color: #fff !important;
  --mat-mdc-button-ripple-color: var(--ripple-color) !important;
  --mat-mdc-button-persistent-ripple-color: var(--persistent-ripple-color) !important;
}
