:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--gradient);
  overflow-y: hidden;
    z-index: 2;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 16px;
    .flex-spacer {
        flex-grow: 1;
    }
}

a {
    text-shadow: var(--nav-text-shadow) !important;
    color: var(--nav-title);
    font-size: 18px !important;
}

.sideNav {
  position: relative;
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  z-index: 2;

  a {
    width: 100%;
    justify-content: flex-end;
    padding: 1.5rem;
  }

}

.sideNav.show {
  display: block;
}


.title {
    // margin-right: 2rem;
    fa-icon {
        margin-right: 0.25rem;
    }
}

button {
  display: flex !important;
  //padding-right: 0 !important;
  justify-content: flex-end !important;
  align-items: center;
  visibility: hidden !important;
}

.navButton {
  text-shadow: var(--nav-text-shadow) !important;
}


.mat-mdc-button, .mat-mdc-icon-button{
  color: #fff !important;
  --mat-mdc-button-ripple-color: var(--ripple-color) !important;
  --mat-mdc-button-persistent-ripple-color: var(--persistent-ripple-color) !important;
}


.active {
    background: rgba(255, 255, 255, 0.247)
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}


@media screen and (max-width: 650px) {
  .navigation {
    display: none;
    a {
      display: none;
    }
  }

  .navButton {
    visibility: visible !important;
  }

}

@media screen and (min-width: 651px) {
 
  .sideNav.show {
    display: none;
  }

}