:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: calc(100vh - 188px);

}



.book-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 30px;
  margin: 30px 50px;
}
