
<div class="image-container">
  <app-book-detail-view [book]="book"></app-book-detail-view>
</div>
<div class="detail-container">

  <div class="quote-container">
    <mat-card-title> Favorite Quote </mat-card-title>
    <div class="quote_desc">
      {{ book.quote }}
    </div>
  </div>

  <div class="info-container">
    <app-info-paar title="Author" [info]="book.author"></app-info-paar>
    <app-info-paar title="Title" [info]="book.title"></app-info-paar>
    <app-info-paar title="FullTitle" [info]="book.fullTitle"></app-info-paar>
    <app-info-paar title="Verlag" [info]="book.verlag"></app-info-paar>
    <app-info-paar title="Pagecount" [info]="book.page_count"></app-info-paar>
  </div>
</div>

<mat-card class="description-container">
  <mat-card-title> Description </mat-card-title>
  <div>
    {{ book.description }}
  </div>
</mat-card>
