:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 188px);
}

//.image-container {
//  display: grid;
//  grid-template-columns: 0.5fr 1fr 0.5fr;
//  align-items: center;
//
//  .img-outer {
//    height: 100%;
//    display: grid;
//    align-items: center;
//    justify-content: center;
//
//    #img {
//
//      display: flex;
//      align-items: center;
//      justify-content: center;
//
//      height: 500px;
//width: 100%;
//      img {
//        height: 100%;
//        width: 100%;
//
//      }
//    }
//
//    .rating-area {
//      display: flex;
//      align-items: center;
//      justify-content: space-evenly;
//      width: 100%;
//
//      fa-icon{
//        color: goldenrod !important;
//      }
//
//    }
//  }
//}




.detail-container {

}


.image-container {

}
