:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 220px);
  margin: 1rem 0rem
}

.detail-container {

}


.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
