
:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: calc(100vh - 188px);

}

.recipe-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  margin: 30px 30px;
}

@media screen and (max-width: 783px) {
  .recipe-list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    margin: 30px 30px;
  }
}


@media screen and (max-width: 380px) {
  .recipe-list {
    display: grid;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
  }
}
