
:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: calc(100vh - 188px);

}

.recipe-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  margin: 30px 50px;
}

app-recipe-card > app-info-paar {
  .header, .content {
    background-color: #fff0df !important;
  }
}




