
:host{
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-card {
  text-align: center;
  width: 100%;
  height: fit-content;
}


img {
  height: auto;
  max-width: 100%;
}


.card-bottom {
  display: flex;
  padding-top: 8px;
  width: 100%;
  justify-content: space-between;
  mat-icon {
    color: var(--primary) !important;
  }

}

