<form [formGroup]="newRecipeForm">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput  formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Schwiergkeitsgrad</mat-label>
    <input matInput  formControlName="difficulty" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Bewertung</mat-label>
    <input matInput  formControlName="score" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Beschreibung</mat-label>
    <input matInput  formControlName="description" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Zeit</mat-label>
    <input matInput formControlName="time" />
  </mat-form-field>


  <ng-container>
    <div class="header-section">
      <h2>Schritt hinzufügen</h2>
      <button mat-icon-button (click)="addStep()">
        <mat-icon class="add-icon">add</mat-icon>
      </button>
    </div>
    <div formArrayName="steps">
      <div *ngFor="let step of steps().controls; let stepIndex = index">
        <div [formGroupName]="stepIndex"
          style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;"
        >
          {{stepIndex}} 
          <input type="text" formControlName="step_name" />
          <button mat-icon-button (click)="removeStep(stepIndex)">
            <mat-icon class="add-icon">close</mat-icon>
          </button>
          <div formArrayName="ingredients">
            <div class="header-section">
              <h2>Zutat hinzufügen</h2>
              <button mat-icon-button (click)="addStepIngredient(stepIndex)">
                <mat-icon class="add-icon">add</mat-icon>
              </button>
            </div>
            <div *ngFor="let ingredient of step_ingredients(stepIndex).controls; let ingredientIndex = index">
              <div [formGroupName]="ingredientIndex">
                {{ingredientIndex}}
                <input type="text" formControlName="ingredient_name"/>
                <input type="text" formControlName="amount"/>
                <input type="text" formControlName="unit"/>
                <button mat-icon-button (click)="removeIngredient(stepIndex, ingredientIndex)">
                  <mat-icon class="add-icon">close</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div formArrayName="utils">
            <div class="header-section">
              <h2>Hilfsmittel hinzufügen</h2>
              <button mat-icon-button (click)="addStepUtil(stepIndex)">
                <mat-icon class="add-icon">add</mat-icon>
              </button>
            </div>
            <div *ngFor="let util of step_utils(stepIndex).controls; let utilIndex = index">
              <div [formGroupName]="utilIndex">
                {{utilIndex}}
                <input type="text" formControlName="util_name"/>
                <button mat-icon-button (click)="removeUtil(stepIndex, utilIndex)">
                  <mat-icon class="add-icon">close</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</form>
