:host {
  margin-top: 56px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

}

header {
  a {
    text-align: center;
  }
}

.mat-mdc-button{
  color: #fff !important;
  --mat-mdc-button-ripple-color: var(--ripple-color) !important;
  --mat-mdc-button-persistent-ripple-color: var(--persistent-ripple-color) !important;
}

.gameKindes {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 188px);

  .inner {
    overflow-y: auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    padding: 30px 50px;
  }

  mat-card-actions {
    justify-content: space-between;
  }

  mat-card-content {
    padding-top: 8px;
  }

  button, a {
    color: black !important;
  }

}


@media screen and (max-width: 600px) {

  .inner {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)) !important;
    padding: 10px 20px !important;

  }
}




